{% extends 'base.html' %}
{% block title %}Discuss - {{ :: }}{% endblock %}
{% block main %}
    <ul>
        {%- foreach ($.discusses as $discuss) %}
        {%- $user = $.users[$discuss->initiater] %}
        <li class="discuss">
            <a href="{{ ROOT_URI }}/discuss/{{ $discuss->id }}/"><img class="avatar" src="{{ $user->email|get_gravatar:140|E }}"></a>
            <h2><a href="{{ ROOT_URI }}/discuss/{{ $discuss->id }}/">{{ $discuss->title|E }}</a></h2>
            <p>
                by <a href="{{ ROOT_URI }}/user/{{ $user->id }}/">{{ $user->username|E }}</a>,
                last update: <time datetime="{{ $discuss->last_update->format('c') }}"></time>
            </p>
        </li>
        {%- endforeach %}
    </ul>
    {%- $->update_time() %}
{%- endblock %}
{% block sidebar %}
    {%- if (isset($_SESSION.user)) %}
    <div class="widget center">
        <a href="{{ ROOT_URI }}/discuss/create/" class="button">Create New Discuss</a>
    </div>
    <div class="widget">
        <h2>Participated</h2>
        <ul>
            {%- foreach ($.replies as $reply) %}
            {%- $discuss = $.reply_discusses[$reply->discuss_id] %}
            <li><a href="{{ ROOT_URI }}/discuss/{{ $discuss->id }}/">{{ $discuss->title|E }}</a></li>
            {%- endforeach %}
        </ul>
    </div>
    {%- endif %}
{%- endblock %}
